<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>My Projects</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">GitHub repositories that I've built.</p>
<div class="d-sm-flex flex-wrap gutter-condensed mb-4">
  {% assign filtered_repos = '' | split: ',' %}
  {% for repository in site.github.public_repositories %}
    {% unless site.projects.exclude.projects contains repository.name %}
      {% assign filtered_repos = filtered_repos | push: repository %}
    {% endunless %}
  {% endfor %}

  {% if site.projects.exclude.forks %}
    {% assign filtered_repos = filtered_repos | where:'fork', false %}
  {% endif %}

  {% if site.projects.sort_by == 'stars_with_pushed' %}
    {% assign grouped_stars_repos = filtered_repos | sort: 'stargazers_count' | reverse | group_by: 'stargazers_count' %}
    {% assign sorted_repos = '' | split: ',' %}
    {% for repos in grouped_stars_repos %}
      {% assign sorted = repos.items | sort: 'pushed_at' | reverse %}
      {% assign sorted_repos = sorted_repos | concat: sorted %}
    {% endfor %}
  {% elsif site.projects.sort_by == 'stars' %}
    {% assign sorted_repos = filtered_repos | sort: 'stargazers_count', 'last' | reverse %}
  {% else %}
    {% assign sorted_repos = filtered_repos | sort: 'pushed_at' | reverse %}
  {% endif %}

  {% for repository in sorted_repos | limit: site.projects.limit %}
    <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
      {% include repo-card.html %}
    </div>
  {% endfor %}
</div>
